{% load i18n %}
<footer class="footer">
    <div class="container pt-5">
        <p class="text-center">
            {% trans 'Need assistance or have inquiries? Our dedicated support team is ready to deliver the help you need.Reach out through our' %}
            <a href="{% url "main:contact" %}">{% trans 'Contact Us' %}</a>
            {% trans 'page or get immediate support using our online chat box.' %}
        </p>
        <hr class="bg-white"/>
        <p class="text-center pb-3 pt-0 mb-0">{% trans "© 2023 - All right reserved!" %}</p>
    </div>
</footer>