{% load i18n %}
<section class="my-5">
    <div class="container">
        <div class="card text-center shadow border-0" style="background: linear-gradient(to right ,var(--primary-color),var(--secondary-color))">
            <div class="card-header border-0 bg-transparent mt-3">
                <h2 class="fw-bolder text-white mb-0">{% trans "Join WhatsApp Partners" %}</h2>
            </div>
            <div class="card-body text-white">
                <p class="fw-normal">
                    {% blocktranslate %}
                        Ready to transform your WhatsApp account into a valuable asset? Register now to become a
                        partner and start earning!
                    {% endblocktranslate %}
                </p>
                <a class="btn btn-outline-light rounded-pill fw-bold">
                    {% trans "Become a Partner" %}
                </a>
            </div>
        </div>
    </div>
</section>