{% extends 'index.html' %}
{% load static %}
{% block content %}
    <main class="vh-100">
        <div class="row h-100">
            <div class="col col-12 col-md-6 col-lg-6">
                <div class="card h-100 bg-transparent border-0">
                    <img src="{% static "assets/img/login.jpg" %}" alt="login picture" class="card-img">
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-6">
                <div class="card h-100 border-0 bg-light ">
                    <div class="card-body d-flex align-items-center">
                        <form class="rounded p-5 w-100 all-center needs-validation" novalidate method="post" action="">
                            {% csrf_token %}
                            <div class="mb-5 mb-auto d-flex justify-content-center align-items-center">
                                <a href="{% url "main:home" %}">
                                    <img src="{{ page_setting.secondary_logo.url }}" alt="logo" width="124" height="124"
                                         class="h-auto"/>
                                </a>
                            </div>
                            <div class="position-relative w-100 mt-5">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email"
                                           class="form-control border-always outline-0 shadow-0 lh-lg"
                                           name="email"
                                           id="email"
                                           placeholder="Your email here"
                                           required
                                    >
                                    <div class="invalid-feedback">
                                        Not valid email format
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative w-100">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="position-relative">
                                        <input type="password"
                                               class="password form-control border-always outline-0 shadow-0 lh-lg"
                                               name="password"
                                               id="password"
                                               minlength="8"
                                               placeholder="****" required>
                                        <div class="invalid-feedback">
                                            password must be at least 8 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary w-100 text-white fw-bold px-5 py-1 rounded mt-3"
                                    type="submit">
                                Login
                            </button>
                            <p class="py-2 pb-0 fs-6 text-center">
                                Forgot Password
                                <a href="{% url "reset_password" %}" class="text-uppercase text-danger fw-bold">
                                    reset
                                </a>
                            </p>
                            <div class="divider w-100">
                                <hr/>
                                <span class="">or</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center gap-2 w-100">
                                <a class="btn btn-outline-warning outline-warning border-2 w-100 fw-bold"
                                   href="{% url "account:register" %}">
                                    Register
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block script %}

{% endblock %}